# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.swp
*.swo
*~

# Logs & temp
*.log
.tmp/
temp/

# Node (если добавите dev-зависимости)
node_modules/
dist/
.cache/

# Env
.env
.env.*
